<h1>Classy - About</h1>
<p>The mission of Classy is to provide the best way for students to get information about courses so that they are empowered to design the best education for themselves. </p>
</div>
<div class="well">
  <h2>Which schools are on Classy?</h2>
  <% @universities.each do |f| %>
  <h3 class="panel panel-default panel-body"><%= f.name %><i class="fa fa-user"></i></h3>
  <% end %>
  <p>Login to see information about these schools!</p>
</div>