<div class="bs-docs-header">
  <div class="container">
    <div class="well">
<h1><center><%= image_tag "ShorelineLogoColor.png", width: 100 %><br><br>Mission</h1>

<p class="lead">Shoreline makes academic tools that encourage exploration and ownership over ones education. </p>
<p class="lead"><strong>Services</strong><br>
  <ul>
<h4><li>Course search</h4>
<h4><li>Wishlists</h4>
<h4><li>Data Ambassador Program</h4>
</ul>
</p>
<hr>
<p class="lead"><strong>What is a Data Ambassador?</strong><br>
Shoreline gets data with help from students like you! We call these helpers "Data Ambassadors", and they make information available on Shoreline better. Every school should have a great search tool for academic planning. Because not every school is digitized or has old computer systems, we provide a system for any school to integrate with, and let students be the IT staff!  
  </p>
<p class="lead"><strong>How can I become a Data Ambassador for my school?</strong><br>
Start by signing up for a Shoreline Ambassador account! You can choose to start data entry for your own school, or join existing Ambassadors. When you first become an Ambassador, you'll have to earn your keep. Earn points by helping curate data. You can make course data better by adding links to textbooks, learning materials, or becoming a Teacher Technology Assistant. </p>
<hr>

<h4>
  <center><p class="lead"><strong>What Students Think</strong></center>
  <i>"Using Shoreline feels like going to Hogwarts!"</i><br> - Anonymous<br><br>
  <i>"It's better than Yik Yak!"</i><br> - Anonymous<br><br>
<hr>
  </div>
    </div>