<h1>Classy - About</h1>

<p>The mission of Classy is to provide the best way for students to get information about courses so that they are empowered to design the best education for themselves. </p><ul>
<h4><i class="fa fa-arrow-right"></i> Easily search for course information and then add it to a wishlist</h4>
<h4><i class="fa fa-arrow-right"></i> See what courses your friends are taking</h4>
<h4><i class="fa fa-arrow-right"></i> Get reviews of courses and teachers</h4>
</ul>
<hr>
<h6>Made by James Steininger &copy; 2014 | San Jose, California</h6>