  <div class="container">
    <div class="well">
<center><h1>Bringing Classy to Your Campus</h1>
</center>
  <hr>
<p class="lead">
  It is easy to integrate Classy with any school. Simple follow these three steps: 
  <ol><li><p class="lead">Become an <b class="text-primary">Ambassador</b>, which is as easy as signing up</li>
    <li><p class="lead">Make a <b class="text-success">spreadsheet</b> of your school's course catalog</li>
    <li><p class="lead"><b class="text-danger">Upload</b> the catalog to Classy</li>
</ol>
<p class="lead">That is all. Now your school has great course catalogs.

</p>
</div></div>