  <div class="container">
    <div class="well">
<center><h1>Bringing Shoreline to Your Campus</h1>
</center>
  <hr>
      <p class="lead"><center><%= link_to "Start a request for your school", new_school_request_path, class: 'btn btn-raised btn-primary' %></center></p>
      <hr>
<p class="lead">
  We will prioritize the process of data-scraping schools that have the most requests. However, you can also become a Data Ambassador and integrate the data yourself. This way, students can become their own IT personel. Integrating Shoreline with any school requires these three steps: 
  <ol><li><p class="lead">Become an <b class="text-primary">Ambassador</b>, by sending a <%= link_to "request form", new_feedback_path %></li>
    <li><p class="lead">Make a <b class="text-success">spreadsheet</b> of your school's course catalog</li>
    <li><p class="lead"><b class="text-danger">Upload</b> the spreadsheet to Shoreline</li>
</ol>
<p class="lead">That is all! Now your school has great online course catalog.

</p>
</div></div>