<div class="container">
<div class="well">
<h1><center>
  <i class="fa fa-group"></i><br>
  Company
  </center></h1>
  <hr>
  <p class="lead"><h2>Team Member 1: <b><%= link_to "James Steininger", "http://jamessteininger.info", target: "_blank" %></b></h2><br><br>If you want to join the development team, email James Steininger (jesteininger@gmail.com) for more details. We are located in Saratoga, CA. </p>
  </div>
</div>