<div class="container"><div class="well"><h1><center>Helpful Registration Tools</center></h1>
  <p class="lead">
  <%= link_to "Chapman Add/Drop Form", "http://www.chapman.edu/students/academic-resources/registrar/_files/forms/registration.pdf", :target => "_blank" %>
  <br><br>Did you know you can create your own major? Just fill out the <%= link_to "petition form", "http://www.chapman.edu/students/academic-resources/registrar/_files/forms/self-design-major-app.pdf", target: "_blank" %> and turn it into the registrar. 
  </p>
</div>
</div>