<h1>Classy: The open education platform</h1>
<h3>What is Classy?</h3>
<h4>Classy is an open education platform. Classy can help you find information about courses, plan which courses you want to take, find ratings on courses and professors, and collaborate with students.</h4>
<%= link_to "Sign Up Today!", new_user_registration_path, id: "testtt", class: "btn btn-success" %> 
<%= link_to "Find Your School!", universities_path, class: "btn btn-info" %> 
<%= link_to "Find Course Information Now!", courses_all_courses_path, class: "btn btn-primary" %>

<script>
  $(function() {
   $('#test').addClass('animated fadeInUp');
});
</script>
