<div class="container">
      <div class="well"><h1>We love to get feedback!</h1>

<%= render 'form' %>
<br><%= link_to "Want to bring Shoreline to Your School?", static_pages_ambassador_path, class: 'pull-right' %>
<%= link_to 'Back', feedbacks_path %>
   </div>
    </div>
