<div class="container">
    <div class="well"><p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @school_request.school_name %>
</p>



<%= link_to 'Back', school_requests_path %>
